h1 {text-align: center}

nav ul
{margin:0; padding:0; list-style:none;
 }
nav ul li a {
  display: block;
  width: 100px;
  text-decoration: none;
  padding: .5em;
  color: white;
  background-color: blue;
  border-radius: .5em;
  margin: .25em;

}

@media only screen{
  main {margin-right:3%;}
  main {display:inline-block; width:97%;}
nav { width: 400px;}
}
  